<p class="mt-8">Retrouvez le sur les différentes platformes :</p>

<ul class="list-reset flex-no-shrink mb-6">
    <li class="mb-4">
        <a href="https://podcasts.apple.com/fr/podcast/failure-faculty/id1508098502">
            <i class="fab fa-apple text-2xl mr-2" aria-hidden="true"></i>
            Ecouter sur Apple Podcasts
        </a>
    </li>
    <li class="mb-4">
        <a href="https://soundcloud.com/fabien-fernandez-981718618/sets/podcast-failure-faculty">
            <i class="fab fa-soundcloud text-xl mr-2" aria-hidden="true"></i>
            Ecouter sur SoundCloud
        </a>
    </li>
    <li class="mb-4">
        <a href="https://open.spotify.com/show/6mjb0MaiSJN5hayF88xUAK">
            <i class="fab fa-spotify text-xl mr-2" aria-hidden="true"></i>
            Ecouter sur Spotify
        </a>
    </li>
    <li class="mb-4">
        <a href="https://www.youtube.com/watch?v=TR1uBsXzna4&list=PLckOV8NvMOB8Iw5_y-7eYer9YRmnxYrLi">
            <i class="fab fa-youtube text-xl mr-2" aria-hidden="true"></i>
            Voir sur Youtube
        </a>
    </li>
</ul>
