{% capture site_title %}
<a class="mr-4 text-3xl font-semibold text-black flex-shrink-0" title="Page d'accueil {{ site.title_home | escape }}" href="{{ "/" | relative_url }}"><img class="header-logo" src="{{ "/assets/images/FF-logo.png" | relative_url }}" alt="Logo Fabien Fernandez">{{ site.title_home | escape }}</a>
{% endcapture %}

<header class="shadow px-3 border-purple border-t-4 mb-8">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <nav class="container mx-auto max-w-2xl text-grey">
    <div class="-my-4px py-4 flex flex-col lg:flex-row flex-wrap justify-between items-baseline">
      {% if page.url == '/' or page.url contains '/page/' %}
        <h1>{{ site_title }}</h1>
      {% else %}
        {{ site_title }}
      {% endif %}

      {% if page_paths %}
      <div class="flex flex-col lg:flex-row items-baseline lg:w-auto">
        <a class="hidden sm:inline-block header-link sm:text-base md:text-lg {% if page.layout == 'post' or page.url == '/' %}text-purple-dark underline{% else %}text-grey-darker{% endif %}" href="{{ '/' | relative_url }}">Blog</a>
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% unless my_page.exclude %}
            {% if my_page.title %}
            <a class="header-link inline-block sm:text-base md:text-lg {% if page.url == my_page.url %}text-purple-dark underline{% else %}text-grey-darker{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endunless %}
        {% endfor %}

        <a class="header-link sm:text-base md:text-lg {% if page.url == '/recherche/' %}text-purple-dark underline{% else %}text-grey-darker{% endif %}" href="{{ site.baseurl }}{% link search.html %}" aria-label="Rechercher">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      {% endif %}
    </div>
  </nav>
</header>
