<div id="mc_embed_signup">
    <form action="https://dev.us19.list-manage.com/subscribe/post?u=5cdd3f93a63170ba1c782e61f&amp;id=06d656cb7d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <label for="mce-EMAIL">Recois mes emails dans lesquels je partage mes astuces pour toujours tendre vers l'amélioration continue :</label>
                <input type="email" value="" name="EMAIL" placeholder="Ton adresse email" class="required email shadow appearance-none border rounded w-full lg:w-1/2 py-2 px-3 text-grey-darker" id="mce-EMAIL">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_5cdd3f93a63170ba1c782e61f_06d656cb7d" tabindex="-1" value="">
            </div>
            <div class="clear">
                <input type="submit" value="Rejoindre" name="subscribe" id="mc-embedded-subscribe" class="mt-2 bg-white hover:bg-purple-dark text-purple-dark font-semibold hover:text-white py-1 px-2 border hover:border-transparent rounded">
            </div>
        </div>
    </form>
</div>