<section class="py-8 container mx-auto max-w-3xl px-3">
  <h2 class="resume-title">Formation</h2>

  {% include resume/components/education.html
              start_date = "2015-09-01 00:00:00 +0100"
              end_date = "2018-07-01 00:00:00 +0100"
              school = "Institut G4 - Ecole d'ingénierie informatique - Lyon"
              title = "Chef de projet Multimédia et Management - Titre I"
              description = "École d'ingénierie en informatique amenant à un titre RNCP de niveau I (Bac +5) pour me spécialiser dans les technologies du Web et du Management." %}

  {% include resume/components/education.html
              start_date = "2015-09-01 00:00:00 +0100"
              end_date = "2017-07-01 00:00:00 +0100"
              school = "Institut G4 - Ecole d'ingénierie informatique - Lyon"
              title = "Concepteur Développeur Informatique - Titre II"
              description = "Formation technique en alternance de niveau II (Bac +3) pour me spécialiser dans les technologies du Web." %}

  {% include resume/components/education.html
              start_date = "2013-09-01 00:00:00 +0100"
              end_date = "2015-07-01 00:00:00 +0100"
              school = "Institut Universitaire de Technologie Informatique - Lyon"
              title = "Diplôme Universitaire de Technologie - Informatique"
              description = "Formation de deux ans à l'institut universitaire de technologie département informatique de Lyon 1." %}

  {% include resume/components/education.html
              start_date = "2010-09-01 00:00:00 +0100"
              end_date = "2013-07-01 00:00:00 +0100"
              school = "Lycée général La Pléiade - Pont de Chéruy (Isère)"
              title = "Baccalauréat Scientifique - SVT / Spécialité Mathématiques"
              description = "Obtention de mon Baccalauréat Scientifique option Mathématiques." %}
</section>
