<section class="py-8 bg-grey-lighter">
  <div class="container mx-auto max-w-3xl px-3">
    <h2 class="resume-title">Expérience</h2>

    <div class="timeline-container relative">
      {% include resume/components/timeline.html
                  date = "Janvier 2020 - Maintenant"
                  title = "Créer et faire évoluer le site fabienfernandez.dev"
                  description = "Créer mon site personnel. Optimiser les temps de réponses et l'ergonomie général pour un partage et une lecture agréable." %}

      {% capture title %}
      Développeur Web et concepteur chez <a href="https://www.norsys.fr">Norsys</a>
      {% endcapture %}

      {% include resume/components/timeline.html
                  date = "Juin 2019 - Maintenant"
                  title = "Développeur Web pour le compte de l'équipe IT Logistique de Mister Auto"
                  description = "Développer des solutions via Web Service, PHP / Symfony. Travailler en équipe et avec le client en méthode agile Scrum." %}


      {% include resume/components/timeline.html
                  date = "Septembre 2018 - Maintenant"
                  title = title
                  description = "Conseiller et développer des solutions d'évolutions ergonomiques et abouties pour le compte du site Elephorm. Autonomie et force de proposition." %}  

      {% capture title %}
      Développeur, concepteur et intégrateur chez <a href="https://www.ausy.fr">Ausy</a>
      {% endcapture %}

      {% include resume/components/timeline.html
                  date = "Septembre 2015 - Août 2018"
                  title = title
                  description = "Mener des projets de bout en bout, seul ou en équipe pour le compte de la Metropole de Lyon (PHP / CMS).Chiffrage, conception et réalisation." %}

      {% include resume/components/timeline.html
                  date = "Mars 2016 - Mai 2018"
                  title = "Conception de sites applicatifs via le framework PHP Laravel"
                  description = "En partant de la prise en compte du besoin client, de la rédaction des spécifications jusqu'à la réalisation. Analyse, organisation et réalisation" %}

    </div>
  </div>
</section>
