<section class="py-8 bg-grey-light">
  <div class="container mx-auto max-w-3xl px-3">
    <h2 class="resume-title">Portfolio</h2>

    <div class="flex flex-wrap items-stretch">
      {% include resume/components/portfolio.html
                  url = "https://fabienfernandez.dev"
                  photo_path = "blog.png"
                  photo_alt = "Capture d'écran de mon blog"
                  title = "Mon blog"
                  description = "J'ai créé ce blog pour parler de différents sujets et transmettre ce que je juge intéressant à ma façon. Design réalisé par mes soins et disponible sur mon compte Github." %}

    </div>
  </div>
</section>
