<section class="py-8 bg-grey-light">
  <div class="container mx-auto max-w-3xl px-3">
    <h2 class="resume-title">Portfolio</h2>

    <div class="flex flex-wrap items-stretch">
      {% include resume/components/portfolio.html
                  url = "https://fabienfernandez.dev"
                  photo_path = "blog.png"
                  photo_alt = "Capture d'écran de mon blog"
                  title = "Mon blog"
                  description = "J'ai créé ce blog pour parler de différents sujets et transmettre ce que je juge intéressant à ma façon. Design réalisé par mes soins et disponible sur mon compte Github." %}

      {% include resume/components/portfolio.html
                  url = "https://www.onlymoov.com"
                  photo_path = "onlymoov.png"
                  photo_alt = "Site Onlymoov du Grand Lyon"
                  title = "Site Onlymoov de la Métropole de Lyon"
                  description = "J'ai participé aux évolutions du site Onlymoo'v notamment la partie design de la page d'accueil" %}
      
      {% include resume/components/portfolio.html
                  url = "https://www.elephorm.fr"
                  photo_path = "elephorm.png"
                  photo_alt = "Page d'accueil du site ELphorm"
                  title = "Site Elephorm - Formation vidéo en ligne"
                  description = "Mission de près d'un an en principal contributeur des évolutions du site. Gestion du SEO, design, développement et maintenance des serveurs." %}

      {% include resume/components/portfolio.html
                  url = "https://met.grandlyon.com/"
                  photo_path = "met.png"
                  photo_alt = "Page d'accueil du site MET' du Grand Lyon"
                  title = "Site MET' Lyon - Magazine de la Métropole de Lyon"
                  description = "Missions de d'évolutions du site, du design et de mise en conformité des normes d'accessibilité." %}

      {% include resume/components/portfolio.html
                  url = "https://jep.grandlyon.com/"
                  photo_path = "met.png"
                  photo_alt = "Page de Recherche du site JEP Grand Lyon"
                  title = "Site événementiel des Journées Européennes du Patrimoine de la Métropole de Lyon"
                  description = "Intégration graphique de maquettes réalisées par une société tierce. Implémentation des outils de recherche. Et généralisation du thème pour reprise flexible." %}

      {% include resume/components/portfolio.html
                  url = "https://www.grandlyon.com/"
                  photo_path = "grandlyon.png"
                  photo_alt = "Page d'accueil du site grandlyon.com"
                  title = "Site de la Métropole de Lyon"
                  description = "Implémentation de récupération des données depuis data.grandlyon.com. Projets menés de A à Z." %}

      {% include resume/components/portfolio.html
                  url = "https://lugdunum.grandlyon.com/"
                  photo_path = "lugdunum.png"
                  photo_alt = "Page d'accueil du site Lugdunum"
                  title = "Site du musée Lugdunum"
                  description = "Développement de la structure du site et implémentation des composants et pages principales via le CMS eZ Platform basé sur Symfony." %}

      {% include resume/components/portfolio.html
                  url = "https://www.mister-auto.com/"
                  photo_path = "mister-auto.png"
                  photo_alt = "Page d'accueil du site Mister Auto"
                  title = "Site Mister Auto"
                  description = "Développement des Webservices servant au site principal ainsi qu'à l'assemble des sites applicatifs internes pour la gestion Logistique et transport." %}
    </div>
  </div>
</section>
